


   
<div ng-controller = "cameraController">
    <h1>Camera function</h1><br>
    
<!--<button onclick="capturePhotoWithData();">Capture Photo With Image Data</button> <br> -->
<p>Capture Photo With Device camera</p>

<!--<img src = "images/camera.png" ng-click ="takePic()" ></img> <br> -->

<button ng-click="takePic();">Capture a Photo With the Device Camera (please)</button> <br>
    <!-- use img onclick....src.. to call from icon -->

<img width = "300" height = "450" id="userPhoto" src="" alt = "should be photo here"/>
    
   
</div>

