

<div ng-controller = "cameraController">
    <h1>Camera function</h1></div><br>
    
<!--<button onclick="capturePhotoWithData();">Capture Photo With Image Data</button> <br> -->
<p>Capture Photo With Device camera</p>

<button ng-click ="takePic()" >Click</button> Take a photo by clicking here<br>
    <!-- use img onclick....src.. to call from icon -->

<img width = "300" height = "450"  ng-src= "{{picData}}" alt = "should be a photo here">

   
   
</div>

<div data-ng-controller="commentsContoller"> <!-- attach controller -->



<p><h2>Comments: </h2>   <textarea  data-ng-model="newComment" placeholder="Type comment here.." style="width:300px; height:300px; color:#53760d; font:24px/30px cursive;"></textarea> </p> <!--binds input to task-->



<button data-ng-click="addComment()">Submit</button> <!-- submits input to function in controller-->
<br/>

      
    
           
            <ul style="list-style:none" ng-repeat="nextComment in comments"> <!-- iterates through toDoList-->
            <li><h3> {{nextComment.text}} </h3></li>
            </ul>
    
</div>

   
   
</div>